<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <div id="app">
        <h1><p v-text="message"></p></h1>
        <h2><p >{{sayHello("baddi youssef") }}</p></h2>

        <h3>{{ message.length}}</h3>

        <ul>
            <li v-for="(item,index) in tab" :key="index">{{index}}-{{ item }}</li>
        </ul>

        <ul>
            <li>{{ tab[0] }}</li>
            <li>{{ tab[0] %2 ==0 ? "pair" : "impaire" }}</li>
            <li>{{ tab['1'] }}</li>
            <li>{{ tab["1"] }}</li>
            <li> {{ tab.length }}</li>
                        
            <li> {{ Math.sqrt(4) }}</li>
            <!-- <li> {{ var =4}}</li> -->

        </ul>

        <ul>
            <li>{{ personne.nom }}</li>
            <li>{{ personne.prenom }}</li>
            <li>{{ personne.id }}</li>
        </ul>

        <ul>
            <li v-for="(value, key) in personne" :key="key">{{ key }}: {{ value }}</li>
        </ul>


        <ul>
            <li v-for="item in personnes" :key="item.id">
                {{ item.nom }} {{ item.prenom }}</li>
        </ul>

        <ul>
            <li v-for="{id,nom,prenom} in personnes" :key="d">
                {{ nom }} {{ prenom }}</li>
        </ul>

        <ul>
            <li v-for="({id,nom,prenom},ind) in personnes" :key="id">
               {{ ind+1 }} - {{ nom }} {{ prenom }}</li>
        </ul>

        <ul>
            <li v-for="elt in 3" :key="elt">
               {{ elt }}</li>
        </ul>

        <ul>
            <li v-for="elt of 3" :key="elt">
               {{ elt }}</li>
        </ul>


        <ul>
            <li v-if="tab[1]%2 !=0">
               {{ tab[1] }} est impaire</li>
               <li v-else>
               {{ tab[1] }} est paire</li>
        </ul>

        <ul>
            <template v-if="tab[1]%2 !=0">
                <li>
                    {{ tab[1] }} est impaire
                </li>
            </template>
            <template v-else>
                <li>
                    {{ tab[1] }} est paire
                </li>
            </template>
        </ul>

        <ul>
            <template v-for="item in tab" :key="item">
                <li v-if="item%2 !=0">
                    {{ item }} est impaire
                </li>
            
                <li v-else>
                    {{ item }} est paire
                </li>
            </template>
        </ul>

    </div>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="script.js"></script>
</body>
</html>


<!-- 
v-bind
v-on
v-model
v-html
.....
cutom directives
-> structral directives: modife le DOM
v-for
v-if
v-else
v-else-if
v-show
-> attriubute directives: modifie l'apparence d'un item html 
-->