#app{
    font-family: Avenir, Arial, Helvetica, sans-seri;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
    text-align: center ;
    color: #2c3e50  ;
}